html {
  background-color: gray;
}

body {
  background-color: white;
  color: gray;
  margin:1em auto;
  width:700px;
  padding:4em;
  border:1px solid #ffd;
}

h1 {
  color: #005;
}

.log {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  padding-right:3px;
  margin-bottom: 1em;
  background-color: #FFFF00;
}

.comments {
	border:2px solid #ffd;
	background-color: #FFFF99;
}

h2 {
	margin-top: 1px;
}